.container{
  max-width: 900px;
  margin:22px auto;
  padding: 22px;
  border: 1px solid rgba(192, 192, 192, 0.401);
  border-radius: 12px;
  .title{
    justify-content: center;
    h2{
      text-align: center;
      color: red;
      font-weight: bolder;
    }
  }
  .contenu{
    display: flex;
    flex-wrap: wrap;
    max-width: 950px;

  }
}
