.container{
  max-width: 260px;
  background-color: white;
  padding: 16px;

  h2{
    text-align: center;
  }

  span{
    margin: 8px;
  }

  .btn{
    margin: 12px;
    border-radius: 22px;
    display: flex;
    justify-content: space-evenly;
    button{
      padding: 12px;
      border-radius: 8px;

      &:first-child{
        background-color: green;
        color: white;
      }
      &:last-child{
        background-color: rgb(231, 79, 41);
        color: white;
      }
    }
  }
}
