
<app-listener-circular *ngIf="!ticket"></app-listener-circular>
<div class="container" *ngIf="ticket">
  <div class="contenu container-1">
    <div class="asset">
      <img src="../../../assets/image/user.svg" alt="">
    </div>
    <div class="corps">
      <h2>
        Information sur le client
      </h2>
      <div class="span" *ngIf="client!.name">
        <span><i class="ri-user-line"></i>Nom Client</span>
        <span>{{client!.name}}</span>
      </div>
      <div class="span">
        <span><i class="ri-compass-3-line"></i>Adresse</span>
        <span> {{client!.adresse}} </span>
      </div>
      <div class="span">
        <span><i class="ri-compass-3-line"></i>Email</span>
        <span> {{client!.email}} </span>
      </div>
      <div class="span">
        <span><i class="ri-compass-3-line"></i>Numero</span>
        <span> {{client!.number}} </span>
      </div>
    </div>
  </div>

  <div class="contenu">
    <div class="asset" style="width: 250px;justify-content: center;">
      <img src="../../../assets/image/ticket.png" alt="">
    </div>
    <div class="corps">
      <div class="titre">
        <h2>
          {{ticket.titre}}

        </h2>


        <div class="span">
          <span><i class="ri-compass-3-line"></i>Categorie</span>
          <span>{{ticket.categorie}}</span>
        </div>
        <div class="span">
          <span><i class="ri-compass-3-line"></i>Numero</span>
          <span>Guira Souleymane</span>
        </div>
        <div class="span" >
          <span><i class="ri-donut-chart-line"></i>status:</span>
          <span style="color: red;" class="state">{{ticket.status}} <span style="width: 7px; height: 7px; background-color: rgb(50, 255, 43);border-radius: 30px;" ></span> </span>
        </div>
        <div class="description">
          {{ticket.description}}
        </div>
        <div class="btn" *ngIf="ticket.status=='Nouveau'">
          <button class="primary-btn" (click)="onGoToAttribution('1')"><i class="ri-tools-line"></i>S'attribuer</button>
        </div>
        <div class="btn" *ngIf="ticket.status!='Nouveau'">
          <button class="primary-btn" (click)="onGoToAttribution('4')"><i class="ri-tools-line"></i>Cloturer</button>
        </div>
        <div *ngIf="ticket.status!='Nouveau'">

          <span>
            <button  (click)="onGoToAttribution('3')"><i class="ri-menu-add-fill"></i> Ajouter Tache</button>
            <button (click)="onGoToAttribution('4')" *ngIf="this.ticket.etat!=3"><i class="ri-close-circle-fill"></i>Terminer</button>

          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="contenu list-tache " *ngIf="ticket.tache.length!=0">
    <h1>
      Liste des tâches à effectuer
    </h1>

    <div class="body" >
      <div class="item" *ngFor="let item of ticket.tache">
        <span>{{item.message}}</span>
        <span>{{item.etat==false?'En cours':'Terminé'}}</span>
        <span>
          <i (click)="switchState(item!.message!)" *ngIf="item.etat" class="ri-donut-chart-line"></i>
          <i (click)="switchState(item!.message!)" *ngIf="!item.etat" class="ri-check-line"></i>
          <i (click)="removeTache(item.message)" class="ri-delete-bin-2-line"></i>
        </span>
      </div>
    </div>
  </div>

</div>
