.icon-login{
  color: white;
  size: 36px;
}

.active{
  background-color: rgb(95, 95, 175);
}

.log-out{
  transition:  500ms ease;
  &:hover{
    &::after{
      content: "Deconnexion";
      border: 1px solid rgba(209, 206, 206, 0.307);
      padding: 8px;
      border-radius: 4px;

    }
  }
}
