.container{
  padding: 22px;
  background-color: white;

  .input-group{
    padding: 8px;
    display: flex;
    justify-content: space-between;
    label{
      margin-right: 12px;
    }
    input{
      border: 1px solid rgb(209, 203, 203);
      padding: 8px
    }


  }
  .group-btn{
    padding: 12px;
    margin: 8px;
    display: flex;
    justify-content: space-evenly;
    button{
      padding: 8px;
      color: white;
      border-radius: 4px;
      &:first-child{
        background-color: green;
      }
      &:last-child{
        background-color: red;
      }
    }
  }
}
