  <app-listener-circular *ngIf="!data" ></app-listener-circular>
  <div class="container" *ngIf="data">
    <h3>
      Modification d'utilisateur
    </h3>
    <form [formGroup]="fg!">
      <div class="input-group">
        <label for="">Nom complet</label>
        <input type="text" formControlName="name">
      </div>
      <div class="input-group">
        <label for="">Numero</label>
        <input type="text" formControlName="number">
      </div>
      <div class="input-group">
        <label for="">Adresse</label>
        <input type="text" formControlName="adresse">
      </div>
      <div class="group-btn">
        <button (click)="update()"> Modifier</button><button >Annuler</button>
      </div>
    </form>
  </div>
